body{
  margin-top: 0px;
  margin-left: 0px;
}
.clearfix:after{
  content: '';
  display: block;
  clear:both;
}
header{
  width:100%;
　height:100%;
}
nav{
  background-color:transparent;
  height: 50px;
  /* position:absolute; */
  position:fixed; top:0；left:0;
}
#banner{
  background-color: transparent;
  height: 975px;
}
nav ul{
  list-style: none;
  margin:0;
  float: right;
  margin-left: 1200px;
}
nav ul li,nav.logo{
  display: inline-block;
  line-height: 50px;
  margin-right: 20px;

}
nav .logo  a{
  text-decoration:none;
}
nav ul li a{
  line-height: 50px;
  text-decoration: none;
  display: inline-block;
  height: inherit;
  color: #fff;
}
nav .logo{
  float:left;
  padding:10px;
}
#banner .inner h1{
  margin:0;
}
#banner .inner{
  max-width: 220px;
  margin:0 auto;
  position: relative;
  top:150px;
}
button{
  border: none;
  background: #333;
  color:#eee;
  padding:10px;
}
#banner button{
  padding:14px 40px;
}
#banner .inner .more{
  margin-top: 280px;
}
.sub-heading{
  line-height: 30px;
  margin:30px 0;
}
.logo{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}
.logo a{
  color: #fff;
}
.green-section{
  text-align:center;
  background: #7cbcbe;
  color:#fff;
  /* padding:350px 0; */
  height: 800px;
  padding-top: 180px;
}
.wrapper{
  max-width: 1080px;
  margin: 0 auto;

}
.hr{
  width: 100%;
  height: 2px;
  margin: 20px auto;

}
.green-section .hr{
  background-color: #098e9f;
  width: 60%;
}
.sub-heading{
  font-size: 18px;
}
/* .green-section .icon-group .icon{
  display: inline-block;
  width: 80px;
  height:80px;
  background: #0d6f7c;
  transform:rotate(45deg);
  margin: 20px;
}
.icon-group{
  margin-top: 60px;
} */
.gray-section{
  background: #7fa1b2;
  color:#fff;
}
.gray-section .img-section{
  width: 45%;
}
.img-section img{
  width:100%;
  height: 442px;
}
.gray-section .text-section{
  width: 55%;
}
.article-preview > div{
  float:left;
  font-size: 0;
}
.article-preview:after{
  content: '';
  display: block;
  clear:both;
}
.text-section{
  position:relative;
  top:68px;
  left: 50px;
}
.text-section h2{
  margin-bottom:20px;
}
.text-section p{
  letter-spacing: 1px;
  font-size: 18px;
}
.text-section .sub-heading{
  font-size: 22px;
  margin-top: 0;
}
.text-section > *{
  max-width: 90%;
}
.article-preview:nth-child(odd){
  background-color: rgba(255,255,255,0.05);
}
.purple-section{
  padding: 80px;
  background: #939aba;
  color: #fff;
}
.purple-section .heading-wrapper{
  text-align:center;
  padding-top: 100px;
}
.purple-section .hr{
  background: #373259;
  width: 60%
}
.card{
  float:left;
  min-height: 300px;
  width: 50%;
  padding: 50px;
  box-sizing: border-box;
}

h3{
  font-size: 24px;
}
p{
  font-size:18px;
  letter-spacing: 1px;
}
.card:first-child{
  background: rgba(0, 0, 0, 0.05);
}
.card:nth-child(2){
  background: rgba(0, 0, 0, 0.09);
}
.card:nth-child(3){
  background: rgba(0, 0, 0, 0.13);
}
.card:nth-child(4){
  background: rgba(0, 0, 0, 0.17);
}
.card:nth-child(5){
  background: rgba(0, 0, 0, 0.21);
}
.card:nth-child(6){
  background: rgba(0, 0, 0, 0.25);
}
footer{
  background: transparent;
  color: #505050;
  min-height: 200px;
  text-align: center;
}
ul.share-group{
  margin: 0 auto;
  display:block;
  width: 1080px;
  padding: 50px;
}
.share-group li{
  display:inline-block;
  padding:10px;
}
.copy{
  padding-top: 20px;
}
.main-wrapper{
  background: #444 url(./img/wrapper3.jpeg);
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;

}
header{
  background: rgba(0,0,0,0)
}
.photo{
  width: 180px;
  height: 180px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background:url(./img/me.jpeg);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: contain;
  /* 这里的值就是100px */
}
#banner #arow{
  width: 50px;
  height: 50px;
  position:relative;
  top:680px;
  margin: 0 auto;
}
#banner .hr{
  width: 100%;
  height: 2px;
  margin: 20px auto;
  background:rgb(138, 129, 125);
  padding-top: 100px;
}
#banner h1{
  text-align: center;
  padding-top: 15px;
  letter-spacing: 1px;
}
.green-section .icon-group .icon{
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  margin-right: 120px;
  margin-top: 25px;
  border: 1px solid #fff;
}
.green-section .icon-group .icon5{
  background:url(./img/status.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: contain;
}
.green-section .icon-group .icon1{
  background:url(./img/age7.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: contain;
}
.green-section .icon-group .icon2{
  background:url(./img/school.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: contain;
}
.green-section .icon-group .icon3{
  background:url(./img/location1.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: contain;
}
.green-section .icon-group .icon4{
  background:url(./img/target.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: contain;
}
.icon-group{
  width: 1220px;
  height: 200px;
  margin: 0 auto;
}
.icon-group .info{
  margin-top: 25px;
}
.icon-group .info span{
  margin-right: 85px;
  font-size: 18px;
}
.wrapper .txt{
  margin-top: 120px;
}
.article-preview .txt1{
  margin-top: 0px;
  padding-top: 40px;
  text-align: center;
}
.purple-section .wrapper .txt2{
  text-align: center;
  margin-top: 100px;

}
.purple-section .wrapper .txt2 span{
  padding-left: 40px;
  font-size: 22px;
}
.purple-section .wrapper .txt-wrapper {
  margin-top: 30px;
  font-size: 18px;
  margin-left: 35px;
}
.purple-section .wrapper .txt-wrapper .txt3{
  margin-top: 20px;
}
.a1{
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #fff;
  background:url(./img/weibo.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}
.a2{
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #fff;
  background:url(./img/github.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}
.a3{
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #fff;
  background:url(./img/csdnlogo.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  margin-left: 20px;
  margin-right: 30px;
}
.link-group{
  margin-top: 100px;
  text-align:center;
  padding-left: 70px;
  margin-bottom: 72px;
}
